<% provide(:title, 'Busking Events') %>
<div class="text-center">
<h1>Busking Festivals</h1>
<p><a href="http://buskerfestmiami.com/"><%=image_tag("miami.PNG", alt: "miami buskerfest poster")%></a></p>
<p><strong>Miami Buskerfest: December 12, 2014</strong></p>
<br />
<p><a href="http://www.worldbuskersfestival.com/"><%=image_tag("christchurch.png", alt: "world busker festival poster")%></a></p>
<p>World Buskers Festival, Christchurch, NZ: January 15 -25, 2015</p>
<br />
<p><a href="http://www.seaportvillage.com/entertainment/busker-festival"><%=image_tag("seaportvillage.png", alt: "seaport village busker festival poster")%></a></p>
<p>Seaport Village Spring Busker Festival, San Diego, CA: March 7 - 8, 2015</p>
<br />
<p><a href="http://www.lawrencebuskerfest.com/"><%=image_tag("lawrenceks.png", alt: "lawrence busker festival poster")%></a></p>
<p>Lawrence Busker Festival, Lawrence, KS: May 26 -28, 2015</p>
<br />
<p><a href="http://victoriabuskers.com/"><%=image_tag("victoria.png", alt: "victoria international buskers festival poster")%></a></p>
<p>Victoria International Buskers Festival: July 17 - 26, 2015</p>
<br />
<p><a href="http://www.buskers.ca/"><%=image_tag("halifax.png", alt: "halifax busker festival poster")%></a></p>
<p>Halifax Busker Festival: July 29 - August 3, 2015</p>
<br />
<p><a href="http://www.niagarabuskerfest.com/"><%=image_tag("niagrafalls.jpeg", alt: "niagra falls buskerfest poster")%></a></p>
<p>Niagra Falls Buskerfest: TBD</p>
<br />
<p><a href="http://vancouverbuskerfest.com/"><%=image_tag("vancouver.png", alt: "vancouver international busker festival poster")%></a></p>
<p>Vancouver International Busker Festival: TBD</p>
<br />
<p><a href="http://www.pikeplacemarketbuskers.com/"><%=image_tag("seattle.jpeg", alt: "seattle buskerfest poster")%></a></p>
<p>Seattle Busker Week: TBD</p>
<h1>Busking Information</h1>
<p>You can find information on safe busking spots in your area through the Squat the Planet forums.</p>
<p><a href="https://squattheplanet.com/forums/busking-street-performance/"><%=image_tag("squat.png", alt: "squat the planet logo")%></a></p>
</div>
