<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/status_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>What's Happening</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to BuskerBoost!</h1>

    <h2>
      Find out about your favorite street performers or promote your act at Buskerboost
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-success" %>
  </div>
<% end %>