<li>
  <span class="content"><%= status.content %></span>
  <span class="timestamp">
   <%= time_ago_in_words(status.created_at) %> ago.
  </span>
  <% if current_user?(status.user) %>
    <%= link_to "delete", status, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: status.content %>
  <% end %>
  <% if @videos.any? %>
    <div id="player-wrapper"></div>
    <% @videos.in_groups_of(1) do |group| %>
      <div class="row">
        <% group.each do |video| %>
          <% if video %>
              <div class="yt_video thumbnail">
                <%= image_tag "https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg", alt: video.title,
                              class: 'yt_preview img-rounded', :"data-uid" => video.uid %>
 
                <div class="caption">
                  <h5><%= video.title %></h5>
                  <p>Author: <b><%= video.author %></b></p>
                  <p>Duration: <b><%= video.duration %></b></p>
                  <p>
                    <span class="glyphicon glyphicon glyphicon-thumbs-up"></span> <%= video.likes %>
                    <span class="glyphicon glyphicon glyphicon-thumbs-down"></span> <%= video.dislikes %>
                  </p>
                </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
</li>